* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: auto;
}

#me {
  background-image: url("../src/pict/gamerBackground.jpg");
}
#me .navbar {
  align-items: center;
  justify-content: space-between;
}
#me .navbar .navbar-brand {
  font-family: fastHand;
  margin-left: 10px;
  font-size: 2em;
  padding: 7px;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}
#me .navbar .navbar-nav .nav-link {
  color: azure;
  font-family: linkStart;
  letter-spacing: 6px;
  font-size: 1.6em;
  margin-left: 20px;
  margin-right: 30px;
  font-weight: bold;
}
#me .navbar .navbar-nav .nav-link:hover {
  color: darkred;
}
#me .navbar #btnBars {
  background: transparent;
  border: transparent;
  font-size: 1.6em;
  display: none;
}
#me .myProfil {
  color: rgb(165, 8, 165);
  height: 700px;
  text-align: center;
  position: relative;
  top: -30%;
  left: 0%;
  transform: translate(0%, 35%);
}
#me .myProfil .myName {
  width: 35%;
  display: block;
  margin: auto;
  background-color: #171a21;
  border: 1px solid black;
  border-radius: 40px;
  font-family: emizen;
  letter-spacing: 6px;
  font-size: 3.2em;
}
#me .myProfil .myJobs {
  font-size: 1.9em;
  font-family: olney;
  color: rgb(0, 0, 87);
  text-shadow: 1px 2px 0px rgba(92, 11, 0, 0.274);
}

.aboutMe {
  background-color: rgb(31, 31, 31);
}
.aboutMe .about {
  padding-top: 12px;
  color: azure;
  font-size: 2.1em;
  text-align: center;
  font-family: emizen;
  letter-spacing: 4px;
}
.aboutMe #myStory {
  padding: 20px;
  flex-direction: row;
  align-items: center;
}
.aboutMe #myStory img {
  width: 100%;
  height: auto;
  height: 600px;
}
.aboutMe .meIdentify {
  color: white;
  line-height: 65px;
}
.aboutMe .meIdentify .describeMe {
  font-family: olney;
  font-size: 1.6em;
  letter-spacing: 2px;
}

#myProjets {
  margin: -16px auto;
  padding: 10px 0px 30px 0px;
  background-color: rgb(48, 48, 48);
}
#myProjets .nameProjet {
  color: azure;
  margin: 5px auto;
  text-align: center;
  letter-spacing: 4px;
  font-family: emizen;
}
#myProjets #listProjets {
  margin: 20px auto;
  text-align: center;
}
#myProjets #listProjets .col-lg-4 img.img-fluid {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s;
}
#myProjets #listProjets .col-lg-4 img.img-fluid:hover {
  opacity: 0.5;
}
#myProjets .lienProjets {
  text-align: center;
}
#myProjets .lienProjets .lien {
  font-size: 1.8em;
  color: azure;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: linkStart;
}
#myProjets .lienProjets .lien:hover {
  color: darkred;
}

.Capacity {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url(../src/pict/capacityBackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Capacity .mySuperPower {
  color: azure;
  margin: 5px auto;
  text-align: center;
  letter-spacing: 4px;
  font-family: emizen;
}
.Capacity #myListCapacities {
  margin: 20px auto;
}
.Capacity #myListCapacities .col-lg-8 {
  padding: 20px;
  line-height: 80px;
}
.Capacity #myListCapacities .col-lg-8 .front .frontEnd, .Capacity #myListCapacities .col-lg-8 .front .backEnd, .Capacity #myListCapacities .col-lg-8 .back .frontEnd, .Capacity #myListCapacities .col-lg-8 .back .backEnd {
  font-size: 1.7em;
  color: azure;
  font-family: olney;
}
.Capacity #myListCapacities .col-lg-8 .front .swiper-pagination-bullet, .Capacity #myListCapacities .col-lg-8 .back .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.Capacity #myListCapacities .col-lg-8 .front .swiper-pagination-bullet-active, .Capacity #myListCapacities .col-lg-8 .back .swiper-pagination-bullet-active {
  color: #000000;
  background: #ffffff;
}
.Capacity #myListCapacities .col-lg-4 .myCV {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Capacity #myListCapacities .col-lg-4 .myCV .img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-left: -15px;
  border: 1px solid black;
}
.Capacity #myListCapacities .col-lg-4 .myCV #btnDownload {
  width: auto;
  padding: 10px;
  color: azure;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: olney;
  border-radius: 40px;
  border: 1px solid black;
  background-color: darkred;
  transition: all 0.25ms ease;
}
.Capacity #myListCapacities .col-lg-4 .myCV #btnDownload:active {
  transform: translateY(8px);
}
.Capacity #myListCapacities .col-lg-4 .myCV #btnDownload a {
  font-size: 1.3em;
  text-decoration: none;
}

#starfield .modal-dialog .modal-content, #wellife .modal-dialog .modal-content, #eaglePC .modal-dialog .modal-content {
  color: azure;
  background-image: url(../src/pict/modalBackground.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#starfield .modal-dialog .modal-content .btnClose, #wellife .modal-dialog .modal-content .btnClose, #eaglePC .modal-dialog .modal-content .btnClose {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 1.6em;
  color: azure;
  border: transparent;
  background: transparent;
}
#starfield .modal-dialog .modal-content .modal-header, #wellife .modal-dialog .modal-content .modal-header, #eaglePC .modal-dialog .modal-content .modal-header {
  border: transparent;
}
#starfield .modal-dialog .modal-content .modal-header .modal-title, #wellife .modal-dialog .modal-content .modal-header .modal-title, #eaglePC .modal-dialog .modal-content .modal-header .modal-title {
  letter-spacing: 4px;
  font-family: emizen;
  font-size: 1.6em;
}
#starfield .modal-dialog .modal-content .modal-body, #wellife .modal-dialog .modal-content .modal-body, #eaglePC .modal-dialog .modal-content .modal-body {
  border: transparent;
}
#starfield .modal-dialog .modal-content .modal-body .img-fluid, #wellife .modal-dialog .modal-content .modal-body .img-fluid, #eaglePC .modal-dialog .modal-content .modal-body .img-fluid {
  height: 550px;
}
#starfield .modal-dialog .modal-content .modal-footer, #wellife .modal-dialog .modal-content .modal-footer, #eaglePC .modal-dialog .modal-content .modal-footer {
  border: transparent;
  display: flex;
  flex-direction: column;
}
#starfield .modal-dialog .modal-content .modal-footer .langageUse p, #wellife .modal-dialog .modal-content .modal-footer .langageUse p, #eaglePC .modal-dialog .modal-content .modal-footer .langageUse p {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 1.6em;
  font-family: olney;
}
#starfield .modal-dialog .modal-content .modal-footer .hrefShowSite, #wellife .modal-dialog .modal-content .modal-footer .hrefShowSite, #eaglePC .modal-dialog .modal-content .modal-footer .hrefShowSite {
  text-align: center;
  display: flex;
  flex-direction: row;
}
#starfield .modal-dialog .modal-content .modal-footer .hrefShowSite p, #wellife .modal-dialog .modal-content .modal-footer .hrefShowSite p, #eaglePC .modal-dialog .modal-content .modal-footer .hrefShowSite p {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 1.4em;
  font-family: olney;
}

#contact {
  margin-top: -20px;
  padding: 20px;
  background-image: url(../src/pict/contactBackground.jpeg);
}
#contact .titleContact {
  letter-spacing: 4px;
  text-align: center;
  font-family: emizen;
  color: azure;
}
#contact .contactModal {
  display: block;
  margin: 10px auto;
  width: 100%;
  max-width: 1000px;
  border-radius: 40px;
  background-color: black;
  border: 1px solid black;
  padding: 20px;
}
#contact .contactModal #contactMe {
  margin-left: 10px;
  text-align: center;
}
#contact .contactModal #contactMe .col-lg-6 input {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
#contact .contactModal #contactMe .col-lg-12 textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
#contact .contactModal #btnSend {
  display: block;
  margin: 0px auto;
  padding: 10px 20px;
  border: none;
  background-color: darkred;
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.25ms ease;
}
#contact .contactModal #btnSend:active {
  transform: translateY(8px);
  background-color: #075509;
}

#sideCanvas {
  height: 220px;
  width: 100%;
  max-width: 280px;
  border-radius: 0px 0px 0px 40px;
  background-color: black;
}
#sideCanvas .offcanvas-body #btnCloseCanvas {
  position: relative;
  top: -10%;
  left: 87%;
  font-size: 1.8em;
  color: azure;
  border: transparent;
  background: transparent;
}
#sideCanvas .offcanvas-body .containNav {
  margin: -15px auto;
  text-align: center;
}
#sideCanvas .offcanvas-body .containNav .navbar-nav {
  line-height: 25px;
}
#sideCanvas .offcanvas-body .containNav .navbar-nav .nav-item a {
  color: azure;
  font-size: 1.6em;
  font-family: linkStart;
}
#sideCanvas .offcanvas-body .containNav .navbar-nav .nav-item a:hover {
  color: darkred;
}

@font-face {
  font-family: emizen;
  src: url(fonts/Emizen.otf);
}
@font-face {
  font-family: linkStart;
  src: url(fonts/LinkStart.otf);
}
@font-face {
  font-family: RoundControl;
  src: url(fonts/RoundControl.otf);
}
@font-face {
  font-family: olney;
  src: url(fonts/OlneyLigth.otf);
}
@font-face {
  font-family: fastHand;
  src: url(fonts/FastHand.otf);
}
@media screen and (max-width: 1440px) {
  .Capacity #myListCapacities .cv .myCV .img-fluid {
    height: 800px;
    max-width: 450px;
  }
}
@media screen and (max-width: 1355px) {
  #me .container-fluid .myProfil .myName {
    width: 60%;
  }
}
@media screen and (max-width: 1175px) {
  #me .navbar .navbar-nav {
    display: none;
  }
  #me .navbar #btnBars {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .aboutMe #myStory img {
    width: 100%;
    height: auto;
  }
  .aboutMe .meIdentify {
    line-height: 40px;
  }
  .Capacity #myListCapacities .cv .myCV .img-fluid {
    height: 740px;
    max-width: 450px;
  }
}
@media screen and (max-width: 992px) {
  .aboutMe .meIdentify {
    margin: 10px auto;
    line-height: 45px;
    text-align: center;
    margin-bottom: -15px;
  }
  .Capacity #myListCapacities .col-lg-8 .front .swiper-pagination-bullet {
    margin: -90px auto;
  }
  .Capacity #myListCapacities .cv .myCV .img-fluid {
    height: 780px;
    max-width: 630px;
  }
  #myProjets #listProjets img {
    margin: 10px auto;
  }
  #contact .contactModal .row #myListContact {
    display: flex;
    flex-direction: row;
  }
  #contact .contactModal .row #btnSend {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .Capacity #myListCapacities .col-lg-8 .front .frontEnd {
    text-align: center;
  }
  .Capacity #myListCapacities .col-lg-8 .back .backEnd {
    text-align: center;
  }
  .Capacity #myListCapacities .cv .myCV .img-fluid {
    height: 740px;
    max-width: 450px;
    display: block;
    margin: auto;
  }
  #myProjets #listProjets .col-lg-4 {
    margin: 15px auto;
  }
}
@media screen and (max-width: 900px) {
  #starfield .modal-dialog .modal-content .modal-footer .langageUse, #wellife .modal-dialog .modal-content .modal-footer .langageUse, #eaglePC .modal-dialog .modal-content .modal-footer .langageUse {
    text-align: center;
  }
  #starfield .modal-dialog .modal-content .modal-footer .hrefShowSite, #wellife .modal-dialog .modal-content .modal-footer .hrefShowSite, #eaglePC .modal-dialog .modal-content .modal-footer .hrefShowSite {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 855px) {
  #me .container-fluid .myProfil .myName {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .aboutMe #myStory img {
    height: 450px;
  }
  .Capacity #myListCapacities .col-lg-8 .front {
    margin-bottom: 30px;
  }
  .Capacity #myListCapacities .col-lg-8 .front .swiper-pagination-bullet {
    margin-bottom: -90px;
  }
  .Capacity #myListCapacities .col-lg-8 .front .img-fluid {
    height: 100px;
  }
  .Capacity #myListCapacities .cv .myCV .img-fluid {
    height: 780px;
    max-width: 630px;
  }
  #starfield .modal-dialog .modal-content .modal-footer .langageUse p, #wellife .modal-dialog .modal-content .modal-footer .langageUse p, #eaglePC .modal-dialog .modal-content .modal-footer .langageUse p {
    font-size: 1.2em;
  }
  #starfield .modal-dialog .modal-content .modal-footer .hrefShowSite p, #wellife .modal-dialog .modal-content .modal-footer .hrefShowSite p, #eaglePC .modal-dialog .modal-content .modal-footer .hrefShowSite p {
    font-size: 1em;
  }
  #contact .contactModal form {
    margin-left: -15px;
  }
}
@media screen and (max-width: 320px) {
  #starfield .modal-dialog .modal-content .modal-footer .langageUse p, #wellife .modal-dialog .modal-content .modal-footer .langageUse p, #eaglePC .modal-dialog .modal-content .modal-footer .langageUse p {
    margin-right: 40px;
    font-size: 0.8em;
  }
  #starfield .modal-dialog .modal-content .modal-footer .hrefShowSite, #wellife .modal-dialog .modal-content .modal-footer .hrefShowSite, #eaglePC .modal-dialog .modal-content .modal-footer .hrefShowSite {
    margin-left: -10px;
  }
  #starfield .modal-dialog .modal-content .modal-footer .hrefShowSite p, #wellife .modal-dialog .modal-content .modal-footer .hrefShowSite p, #eaglePC .modal-dialog .modal-content .modal-footer .hrefShowSite p {
    font-size: 0.8em;
  }
}/*# sourceMappingURL=index.css.map */