* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: auto;
}

// MIXIN && ROOT
@mixin flex($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
}

// ME
#me {
  background-image: url("../src/pict/gamerBackground.jpg");
  .navbar {
    align-items: center;
    justify-content: space-between;
    .navbar-brand {
      font-family: fastHand;
      margin-left: 10px;
      font-size: 2em;
      padding: 7px;
      width: 60px;
      height: 60px;
      color: white;
      border-radius: 50%;
      background-color: black;
      border: 1px solid black;
    }
    .navbar-nav {
      .nav-link {
        color: azure;
        font-family: linkStart;
        letter-spacing: 6px;
        font-size: 1.6em;
        margin-left: 20px;
        margin-right: 30px;
        font-weight: bold;
        &:hover {
          color: darkred;
        }
      }
    }
    #btnBars {
      background: transparent;
      border: transparent;
      font-size: 1.6em;
      display: none;
    }
  }

  .myProfil {
    color: rgb(165, 8, 165);
    height: 700px;
    text-align: center;
    position: relative;
    top: -30%;
    left: 0%;
    transform: translate(0%, 35%);
    .myName {
      width: 35%;
      display: block;
      margin: auto;
      background-color: #171a21;
      border: 1px solid black;
      border-radius: 40px;
      font-family: emizen;
      letter-spacing: 6px;
      font-size: 3.2em;
    }
    .myJobs {
      font-size: 1.9em;
      font-family: olney;
      color: rgb(0, 0, 87);
      text-shadow: 1px 2px 0px rgba(92, 11, 0, 0.274);
    }
  }
}

// About Me
.aboutMe {
  background-color: rgb(31, 31, 31);
  .about {
    padding-top: 5px;
    color: azure;
    font-size: 2.1em;
    text-align: center;
    font-family: emizen;
    letter-spacing: 4px;
  }
  #myStory {
    padding: 20px;
    flex-direction: row;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      height: 600px;
    }
  }
  .meIdentify {
    color: white;
    line-height: 65px;
    .describeMe {
      font-family: olney;
      font-size: 1.6em;
      letter-spacing: 2px;
    }
  }
}

// MyProjets
#myProjets {
  margin: -16px auto;
  padding: 10px 0px 30px 0px;
  background-color: rgb(48, 48, 48);
  .nameProjet {
    color: azure;
    margin: 5px auto;
    text-align: center;
    letter-spacing: 4px;
    font-family: emizen;
  }
  #listProjets {
    margin: 20px auto;
    text-align: center;
    .col-lg-4 {
      img.img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .lienProjets {
    text-align: center;
    .lien {
      font-size: 1.8em;
      color: azure;
      font-weight: bold;
      letter-spacing: 3px;
      text-decoration: none;
      font-family: linkStart;
      &:hover {
        color: darkred;
      }
    }
  }
}

// Capacity
.Capacity {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url(../src/pict/capacityBackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .mySuperPower {
    color: azure;
    margin: 5px auto;
    text-align: center;
    letter-spacing: 4px;
    font-family: emizen;
  }
  #myListCapacities {
    margin: 20px auto;
    .col-lg-8 {
      padding: 20px;
      line-height: 80px;
      .frontEnd, .backEnd {
        font-size: 1.7em;
        color: azure;
        font-family: olney;
      }
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }

      .swiper-pagination-bullet-active {
        color: #000000;
        background: #ffffff;
      }
    }
    .col-lg-4 {
      .myCV {
      text-align: center;
      display: flex;
      flex-direction: column;
      .img-fluid {
        max-width: 100%;
        height: auto;
        border: 1px solid black;
      }
      #btnDownload {
        width: 45%;
        padding: 10px;
        color: azure;
        cursor: pointer;
        display: block;
        margin: auto;
        font-family: olney;
        border-radius: 40px;
        border: 1px solid black;
        background-color: darkred;
        transition: all 0.25ms ease;
        &:active {
          transform: translateY(8px);
        }
        a {
          font-size: 1.3em;
          text-decoration: none;
        }
      }
    }
    }
    }
  }

// MODAL
// STARFIELD
#starfield, #wellife, #eaglePC {
  .modal-dialog {
    .modal-content {
      color: azure;
       background-image: url(../src/pict/modalBackground.jpeg);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
      .btn-close {
        position: relative;
        top: 10px;
        left: 10px;
      }
      .modal-header {
        border: transparent;
        .modal-title {
          letter-spacing: 4px;
          font-family: emizen;
          font-size: 1.6em;
        }
      }
      .modal-body {
        border: transparent;
        
            .img-fluid {
              height: 550px;
            }
          
          
            .drivers {
              font-family: olney;
              font-size: 1.6em;
            }
            .langages {
              @include flex (row);
              line-height: 80px;
              padding: 10px;
              justify-content: space-between;
              .list {
                .codes {
                  font-size: 1.5em;
                  font-family: linkStart;
                }
              }
            }
          
        
      }
      .modal-footer {
        border: transparent;
        @include flex (column);
        .langageUse {
          p {
            margin-right: 15px;
            margin-left: 15px;
            font-size: 1.6em;
            font-family: olney;
          }
        }
        .hrefShowSite {
          @include flex (row);
          p {
            margin-right: 15px;
            margin-left: 15px;
            font-size: 1.4em;
            font-family: olney;
          }
        }
      }
    }
  }
}


//Contact
#contact {
  margin-top: -20px;
  padding: 20px;
  background-image: url(../src/pict/contactBackground.jpeg);
  .titleContact {
    letter-spacing: 4px;
    text-align: center;
    font-family: emizen;
    color: azure;
  }
  
  .contactModal {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 40px;
    background-color: black;
    border: 1px solid black;
    padding: 20px;

    #youContact {
      #contactMe {
        margin-left: 10px;
        text-align: center;
      }
      
      input[type="text"],
      textarea {
        display: block;
        margin: 10px auto;
        padding: 10px;
        width: 100%;
        max-width: 710px;
        border-radius: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      
      textarea {
        resize: none;
        height: 200px;
      }
    }
    
    #myListContact {
      display: block;
      margin: 15px auto;
      line-height: 45px;
      text-align: center;
      display: flex;
      flex-direction: column;

      p {
        color: azure;
        font-size: 1.3em;
        font-family: olney;
      }
        .fa-regular, .fa-solid {
            display: block;
            margin: 10px auto;
            padding: 10px;
            font-size: 1.6em;
            width: 60px;
            border-radius: 50%;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgb(255, 255, 255);
        }
        
        .fa-phone, .fa-envelope, .fa-linkedin-in {
            color: azure;
        }
      
        .fa-brands {
            display: block;
            margin: 10px auto;
            padding: 10px;
            font-size: 1.6em;
            width: 60px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid rgb(255, 255, 255);
        }
    }
    
    #btnSend {
      display: block;
      margin: 0 auto;
      margin-top: -20px;
      padding: 10px 20px;
      border: none;
      background-color: darkred;
      color: white;
      border-radius: 5px;
      font-size: 1.2em;
      cursor: pointer;
      transition: all 0.25ms ease;
      &:active {
        transform: translateY(8px);
        background-color: #075509;
      }
    }
  }
}

// FONTS
@font-face {
  font-family: emizen;
  src: url(fonts/Emizen.otf);
}

@font-face {
  font-family: linkStart;
  src: url(fonts/LinkStart.otf);
}

@font-face {
  font-family: RoundControl;
  src: url(fonts/RoundControl.otf);
}

@font-face {
  font-family: olney;
  src: url(fonts/OlneyLigth.otf);
}

@font-face {
  font-family: fastHand;
  src: url(fonts/FastHand.otf);
}
